<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title
    <style>
        .btn{
            display: inline-block;
            padding: 5px 15px;
            background-color: coral;
            color: white;
            cursor: pointer;
        }
    </style>
</head>
<body>

<div>
    <input placeholder="用户名" type="text" id="username">
    <input placeholder="密码" type="password" id="password">
    <div class="btn" onclick="submitForm();">提交</div>
</div>
<script src="/static/jquery-3.3.1.js"></script>
<script>
    function submitForm(){
        var u=$('#username').val();
        var p=$('#password').val();
        $.ajax({
            url:'ajax2.html',
            type:'GET',
            data:{username:u,password:p},
            success:function(arg){
                //回调函数arg是服务器返回的字符串
                console.log(arg)
            }
        })
    }
</script>
</body>
</html>